.atwho-view {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	margin-top: 1rem;
	background: white;
	color: black;
	border: 1px solid $(border-color-soft);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
	width: 18rem;
	z-index: 11110 !important;
}

.atwho-view .atwho-header:hover {
	cursor: default;
}

.atwho-view .cur {
	background: $(background-color-highlight);
	color: white;
}

.atwho-view .cur small {
	color: white;
}

.atwho-view strong {
	color: $(background-color-hightlight);
}

.atwho-view .cur strong {
	color: white;
	font: bold;
}

.atwho-view ul {
	list-style: none;
	padding: 0;
	margin: auto;
	max-height: 18rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.atwho-view ul li {
	display: block;
	padding: 0.5rem;
	border-bottom: 1px solid $(border-color-soft);
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}

.atwho-view small {
	font-size: smaller;
	color: $(text-color-mild);
	font-weight: normal;
}

.atwho-view ul .mentions-picker-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.mentions-picker-item [rel="icon"] {
	width: 1.25rem;
	height: 1.25rem;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.mentions-picker-item [rel="emoji"],
.mentions-picker-item [rel="icon"],
.mentions-picker-item [rel="hashtag"] {
	margin-right: 0.5rem;
	line-height: normal;
	vertical-align: middle;
	width: 1.25rem;
	height: 1.25rem;
}

.mentions-picker-item [rel="hashtag"] {
	color: $(background-color-highlight);
	font-weight: 600;
}

[rel="mention"] img {
	margin: 0 0.25rem 0 0;
	vertical-align: middle;
	max-height: 1.25rem;
	line-height: inherit;
}

